USE [RealEstateDB]
GO
/****** Object:  Table [dbo].[PropertyTypes]    Script Date: 19/06/2025 03:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTypes](
	[PropertyTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 19/06/2025 03:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[AgentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AgentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 19/06/2025 03:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 19/06/2025 03:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[PropertyTypeID] [int] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[AgentID] [int] NOT NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 19/06/2025 03:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[AgentID] [int] NOT NULL,
	[SaleDate] [date] NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[Commission]  AS ([SalePrice]*(0.03)) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PropertySalesInfo]    Script Date: 19/06/2025 03:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PropertySalesInfo] AS
SELECT 
    s.SaleID,
    p.Address,
    p.City,
    pt.TypeName AS PropertyType,
    s.SaleDate,
    s.SalePrice,
    s.Commission,
    a.FirstName + ' ' + a.LastName AS Agent,
    c.FirstName + ' ' + c.LastName AS Client
FROM Sales s
JOIN Properties p ON s.PropertyID = p.PropertyID
JOIN PropertyTypes pt ON p.PropertyTypeID = pt.PropertyTypeID
JOIN Agents a ON s.AgentID = a.AgentID
JOIN Clients c ON s.ClientID = c.ClientID;
GO
/****** Object:  View [dbo].[vw_AvailableProperties]    Script Date: 19/06/2025 03:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AvailableProperties] AS
SELECT
    p.PropertyID,
    p.Address,
    p.City,
    pt.TypeName AS PropertyType,
    a.FirstName + ' ' + a.LastName AS Agent,
    p.Price
FROM Properties p
JOIN PropertyTypes pt ON p.PropertyTypeID = pt.PropertyTypeID
JOIN Agents a ON p.AgentID = a.AgentID
WHERE p.IsAvailable = 1;
GO
SET IDENTITY_INSERT [dbo].[Agents] ON 

INSERT [dbo].[Agents] ([AgentID], [FirstName], [LastName], [Phone], [Email]) VALUES (1, N'Иван', N'Петров', N'0888123456', N'ivan.petrov@example.com')
INSERT [dbo].[Agents] ([AgentID], [FirstName], [LastName], [Phone], [Email]) VALUES (2, N'Мария', N'Димитрова', N'0899123456', N'maria.dimitrova@example.com')
SET IDENTITY_INSERT [dbo].[Agents] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [FirstName], [LastName], [Phone], [Email]) VALUES (1, N'Петър', N'Иванов', N'0877123456', N'petar.ivanov@example.com')
INSERT [dbo].[Clients] ([ClientID], [FirstName], [LastName], [Phone], [Email]) VALUES (2, N'Елена', N'Георгиева', N'0887123456', N'elena.georgieva@example.com')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Properties] ON 

INSERT [dbo].[Properties] ([PropertyID], [Address], [City], [PropertyTypeID], [Price], [AgentID], [IsAvailable]) VALUES (1, N'ул. Витоша 15', N'София', 1, CAST(120000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Properties] ([PropertyID], [Address], [City], [PropertyTypeID], [Price], [AgentID], [IsAvailable]) VALUES (2, N'ул. Гладстон 7', N'Пловдив', 2, CAST(85000.00 AS Decimal(18, 2)), 2, 1)
SET IDENTITY_INSERT [dbo].[Properties] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyTypes] ON 

INSERT [dbo].[PropertyTypes] ([PropertyTypeID], [TypeName]) VALUES (1, N'Апартамент')
INSERT [dbo].[PropertyTypes] ([PropertyTypeID], [TypeName]) VALUES (2, N'Къща')
INSERT [dbo].[PropertyTypes] ([PropertyTypeID], [TypeName]) VALUES (3, N'Гараж')
SET IDENTITY_INSERT [dbo].[PropertyTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [PropertyID], [ClientID], [AgentID], [SaleDate], [SalePrice]) VALUES (1, 1, 1, 1, CAST(N'2025-05-15' AS Date), CAST(118000.00 AS Decimal(18, 2)))
INSERT [dbo].[Sales] ([SaleID], [PropertyID], [ClientID], [AgentID], [SaleDate], [SalePrice]) VALUES (2, 2, 2, 2, CAST(N'2025-06-01' AS Date), CAST(83000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_Agents] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agents] ([AgentID])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_Agents]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_PropertyTypes] FOREIGN KEY([PropertyTypeID])
REFERENCES [dbo].[PropertyTypes] ([PropertyTypeID])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_PropertyTypes]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Agents] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agents] ([AgentID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Agents]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Clients]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Properties] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Properties] ([PropertyID])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Properties]
GO
